* {
  margin: 0;
  padding: 0;
}

body {
  font-family: 'Merriweather', serif;
  background-color: #ffefef;
}

#header {
  background-color: #fbbdbd;
  color: white;
  text-align: center;
  padding: 15px;
}

.title {
  font-weight: 900;
  font-family: 'Fira Sans', sans-serif;
  letter-spacing: 2px;
  font-size: 32px;
  margin-bottom: 6px;
}

.subtitle {
  font-weight: 600;
  color: ghostwhite;
}