* {
  margin: 0;
  padding: 0;
}

body {
  font-family: 'Merriweather', serif;
  background-color: #ffefef;
  display: flex;
  flex-direction: column;
  align-items: center;
}

#header {
  background-color: #fbbdbd;
  color: white;
  text-align: center;
  padding: 15px;
  width: 100%;
}

.title {
  font-weight: 900;
  font-family: 'Fira Sans', sans-serif;
  letter-spacing: 2px;
  font-size: 32px;
  margin-bottom: 6px;
}

#content {
  padding: 10px;
  display: flex;
  flex-direction: column;
  text-align: center;
  width: 560px;
}

/* BUTTONS HERE */

.result-title {
  background: lightcyan;
  font-size: 24px;
  font-family: 'Fira Sans', sans-serif;
  border-radius: 16px;
  margin: 10px ;
}

.display {
  display: flex;
  align-items: center;
}

.player, .computer {
  flex: 1;
}

.round {
  flex: 2;
}

.player-tag {
  font-weight: bold;
}

#round-counter {
  padding-bottom: 7px;
}

#player-score, #computer-score {
  font-weight: normal;
}