* {
  margin: 0;
  padding: 0;
}

body {
  font-family: 'Merriweather', serif;
  background-color: #ffefef;
  display: flex;
  flex-direction: column;
  align-items: center;
}

#header {
  background-color: #fbbdbd;
  color: white;
  text-align: center;
  padding: 15px 0;
  width: 100%;
}

.title {
  font-weight: 900;
  font-family: 'Fira Sans', sans-serif;
  letter-spacing: 2px;
  font-size: 32px;
  margin-bottom: 6px;
}

/* CONTENT CONTAINER */

#content {
  padding: 10px;
  display: flex;
  flex-direction: column;
  text-align: center;
  width: 570px;
}

/* BUTTONS */

#game-options {
  margin-top: 10px;
}

.option {
  border: 0;
  background: none;
  padding: 10px;
  transition: all .2s ease-in-out;
}

.option:hover {
  transform: scale(1.1);
}

/* SCORE */

.score-title {
  background: lightcyan;
  font-size: 24px;
  font-family: 'Fira Sans', sans-serif;
  border-radius: 16px;
  margin: 10px ;
}

.display {
  display: flex;
  align-items: center;
}

.user, .computer {
  flex: 1;
}

.round {
  flex: 2;
}

.player-tag {
  font-weight: bold;
}

#round-counter {
  padding-bottom: 7px;
}

#player-score, #computer-score {
  font-weight: normal;
}

#computer-choice {
  align-self: flex-end;
  font-size: 12px;
  display: inline-flex;
  align-items: center;
  padding: 10px 20px;
  opacity: .7;
}

.computer-play-img {
  width: 20px;
  height: auto;
  padding-left: 2px;
}

/* GAME OVER */

#modal {
  display: none; 
  position: fixed; 
  z-index: 1;
  left: 0;
  top: 0;
  width: 100%; 
  height: 100%; 
  background-color: rgba(0,0,0,0.5);
}

.modal-content {
  background-color: rgba(254, 254, 254, .8);
  margin: 280px auto; /* 15% from the top and centered */
  padding: 20px;
  border-radius: 15px;
  width: 695px;
}

.message {
  font-family: 'Fira Sans', sans-serif;
  font-size: 50px;
  font-weight: bold;
}

.result {
  font-size: 36px;
  font-weight: 400;
}

.final-score {
  font-size: 22px;
  font-weight: 400;
}

.play-again {
  font-family: 'Fira Sans', sans-serif;
  margin-top: 10px;
  width: 150px;
  height: 28px;
  background-color: #fbbdbd;
  color: white;
  border: 1px solid #ffefef;
  box-shadow: 1px 2px 5px 0px rgb(128 128 128 / 20%);
  letter-spacing: 3px;
}

.play-again:hover {
  background-color: #ffefef;
  border: 1px solid #fbbdbd;
  color: #fbbdbd;
}

